<?xml version="1.0"?>
<robot name="lbr_iiwa" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="lbr_iiwa_transmission" >

    <transmission name="lbr_iiwa_tran_1">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="lbr_iiwa_joint_1">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="lbr_iiwa_motor_1">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="lbr_iiwa_tran_2">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="lbr_iiwa_joint_2">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="lbr_iiwa_motor_2">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="lbr_iiwa_tran_3">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="lbr_iiwa_joint_3">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="lbr_iiwa_motor_3">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="lbr_iiwa_tran_4">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="lbr_iiwa_joint_4">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="lbr_iiwa_motor_4">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="lbr_iiwa_tran_5">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="lbr_iiwa_joint_5">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="lbr_iiwa_motor_5">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="lbr_iiwa_tran_6">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="lbr_iiwa_joint_6">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="lbr_iiwa_motor_6">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="lbr_iiwa_tran_7">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="lbr_iiwa_joint_7">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="lbr_iiwa_motor_7">
	<hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
	<mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>



